/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  padding: 20px;
}

/* Menu Styles */
.menu-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-button {
  background-color: #fff;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.menu-dropdown {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menu-dropdown a {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

/* Meditation.css */
.meditation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meditation-logo {
  width: 150px;
  margin-bottom: 20px;
}

.start-button, .stop-button {
  background-color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.countdown p, .meditation-info p {
  font-size: 1.5rem;
  color: #fff;
  margin: 10px 0;
}
